body {
  @include font-GTAmericaExtendedLight;

  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;

  a {
    color: $black;
    text-decoration: none;
    transition: color 0.25s ease-in-out;
    
    &:focus,
    &:hover{
      color: $gold;
    }

    &:hover, &:focus {
      text-decoration: none;
      outline: 0;
    }

    &:hover {
      /*color: $red;*/
    }
  }
}

.main {
  overflow: hidden;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}



