$white: #ffffff;
$black: #000000;
$gray: #D7D7D7;
$light-gray: #D8D8D8;
$green: #0E3A2A;
$gold: #A27E37;

$nav_menu_active: #f9f9f9;

$gray10:      lighten($black, 90%);
$gray20:      lighten($black, 80%);
$gray30:      lighten($black, 70%);
$gray40:      lighten($black, 60%);
$gray50:      lighten($black, 50%);
$gray60:      lighten($black, 40%);
$gray70:      lighten($black, 30%);
$gray80:      lighten($black, 20%);
$gray90:      lighten($black, 10%);
