input {
  &[type="text"], 
  &[type="password"], 
  &[type="email"]{
    -webkit-appearance: none;
    box-shadow: none;
  }
}

.custom-checkbox {
  position: relative;
  margin: 0.8rem 0;
  display: flex;

  &--noSpace {
    margin: 0;
  }

  label {
    &:before {
      content: '';
      width: 15px;
      height: 15px;
      cursor: pointer;
      position: absolute;
      top: 2px;
      left: 0;
      background: $red;
      border-radius: 5px;
    }

    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 3px;
      border: 2px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=radio],
  input[type=checkbox] {
    visibility: hidden;
    position: absolute;
    left: -9999px;

    &:checked + label:after {
      opacity: 1;
    }
  }

  &__text {
    display: block;
    padding-left: 20px;
  }

} // checkbox

.btn{
  padding: 12px;

  &-primary {
    text-transform: uppercase;
    background-color: $white;
    color: $red;
    border-color: $red;
    font-weight: 600;

    &.active,
    &.active.focus,
    &.active:focus,
    &.active:hover,
    &:active.focus,
    &:active:focus,
    &:active:hover,
    &:hover {
      background-color: $red;
      color: $white;
      border-color: $red;
      box-shadow: none;
    }
  }
}
