<div class="header__top">
	<div class="header__nav">
		<div class="header__nav-logo header__nav-logo--desktop">
			<a href="/">
				<svg version="1.1" viewBox="0 0 161 158" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<defs>
					<polygon id="a" points="0.077033 0.1693 47.754 0.1693 47.754 47.896 0.077033 47.896"/>
					</defs>
					<g transform="translate(-60 -51)" fill="none" fill-rule="evenodd">
					<g transform="translate(60 51)">
					<polygon points="11.776 140 11.776 148.33 1.2241 148.33 1.2241 140 0 140 0 158 1.2241 158 1.2241 149.57 11.776 149.57 11.776 158 13 158 13 140" fill="#FEFEFE"/>
					<polygon points="62.478 140 56.024 149.67 49.595 140 48 140 55.362 150.88 55.362 158 56.638 158 56.638 150.85 64 140" fill="#FEFEFE"/>
					<path d="m98 140h5.7772c5.4543 0 9.2228 3.883 9.2228 8.9487v0.051282c0 5.0657-3.7685 9-9.2228 9h-5.7772v-18zm5.7772 16.766c4.8347 0 7.8847-3.4199 7.8847-7.7147v-0.051282c0-4.2676-3.0501-7.766-7.8847-7.766h-4.4886v15.532h4.4886z" fill="#FEFEFE"/>
					<polygon points="148 140 148 158 161 158 161 156.77 149.34 156.77 149.34 149.54 159.71 149.54 159.71 148.3 149.34 148.3 149.34 141.23 160 141.23 160.87 140" fill="#FEFEFE"/>
					<polygon points="52.484 0 51.558 1.3149 95.465 1.3149 11.383 120.71 11.383 0 0.9223 0 0 1.3149 10.064 1.3149 10.064 123 11.383 123 11.383 123 98 0" fill="#FEFEFE"/>
					<g transform="translate(113)">
					<mask id="b" fill="white">
					<use xlink:href="#a"/>
					</mask>
					<path d="m23.916 47.896c-13.145 0-23.839-10.705-23.839-23.863s10.694-23.863 23.839-23.863c13.145 0 23.839 10.705 23.839 23.863s-10.694 23.863-23.839 23.863m0-46.394c-12.411 0-22.508 10.107-22.508 22.531s10.097 22.531 22.508 22.531c12.411 0 22.508-10.107 22.508-22.531s-10.097-22.531-22.508-22.531" fill="#FEFEFE" mask="url(#b)"/>
					</g>
					<polygon points="155.94 36 157 36.754 97.602 122.96 96 123" fill="#FEFEFE"/>
					</g>
					</g>
				</svg>
			</a>

		</div>
		<div class="header__nav-logo header__nav-logo--mobile">
			<a href="/">
					<svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77 75"><style>.st0{fill:#fefefe}</style><path class="st0" d="M7.5 67.6H3.3v-4h-1v9.2h1v-4.1h4.2v4.1h1v-9.2h-1zM27 68l-2.6-4.4h-1.2l3.3 5.6v3.6h1v-3.6l3.3-5.6h-1.2zM49.2 63.6h-2.8v9.1h2.8c2.5 0 4.4-1.9 4.4-4.6 0-2.5-1.8-4.5-4.4-4.5zm3.3 4.6c0 2-1.3 3.5-3.3 3.5h-1.8v-7h1.8c1.9 0 3.3 1.5 3.3 3.5zM69.6 68.7h4.6v-1.1h-4.6v-2.9h4.6l.7-1.1h-6.4v9.2h6.2v-1.1h-5.1zM6.8 57.4h1L46.9 2.6l.2-.4H26l-.7 1.1H45L7.9 55.4V2.2H2.8L2 3.3h4.8zM72.8 19.3l.1-.2c1-1.7 1.6-3.6 1.6-5.6 0-6.1-4.9-11-11-11s-11 5-11 11 4.9 11 11 11c2 0 3.9-.6 5.5-1.5L45.2 57.4h1.3l26.3-38.1zm-19.2-5.9c0-5.4 4.4-9.8 9.8-9.8s9.8 4.4 9.8 9.8-4.4 9.8-9.8 9.8-9.8-4.4-9.8-9.8z"/></svg>
			</a>
		</div>



		<div class="header__nav-menu--desktop">
			{{> home/headerNav }}
		</div>

		<div class="header__nav-toggle" id="navgation">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>

	<div class="header__nav-menu--mobile">
		{{> home/headerNav }}
	</div>

</div>

<div class="header__mid">
	<div class="header__mid-inner">
		<h1 class="header__mid-copy">
			<span>a</span> 
			<span>window</span> 
			<span>to</span> 
			<span>sydney</span>
		</h1>
	</div>
</div>