<div class="tour-detail__nav-bar">
	<div class="nav">
		<div class="header__nav-menu">
			<div class="header__nav-menu-inner">
				<ul class="header__nav-menu-items">
					<li class="header__nav-menu-item"><a data-scroll href="#home-building" class="header__nav-menu-link">building</a></li>
					<li class="header__nav-menu-item"><a data-scroll href="#home-location" class="header__nav-menu-link">location</a></li>
					<li class="header__nav-menu-item"><a data-scroll href="#home-future" class="header__nav-menu-link">future</a></li>
					<li class="header__nav-menu-item"><a data-scroll href="#home-contact" class="header__nav-menu-link">contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>