<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Disclaimer</h4>
      </div>
      <div class="modal-body">
        <p>This document has been prepared for Markham Real Estate Partners Pty Limited A.C.N. 154 847 131 as trustee of the M6 Property Trust A.B.N. 77 162 957 132 (Markham) by Savills and Colliers International. This document does not constitute an offer or contract of sale. It is intended only as a guide and an aid to further investigation by potential purchasers.</p>
 
        <p>Potential purchasers accept this document on the condition that they will make their own enquiries and obtain their own independent advice in order to verify the accuracy of the information presented in this document. The content of this document has been derived, in part, from sources other than Savills, Colliers International and Markham and may be based on assumptions. In passing this information on, Savills, Colliers International and Markham do not warrant that such information or assumptions are accurate or correct. Parties should seek their own independent verifications and advice on such information. The architectural renderings in this document are artist’s impressions only and any development proposal is subject to all relevant approvals. Intending purchasers should make their own enquiries</p>
         
        <p>To the extent that this document includes any statement as to a future matter, that statement is provided as an estimate and/or opinion based upon the information known to Savills, Colliers International and or Markham at the date of preparing this document and assumptions which may or may not be correct.</p>
         
        <p>Savills, Colliers International and Markham do not warrant that such statements are or will be accurate or correct.</p>
         
        <p>Savills, Colliers International and Markham provide this document on the condition that, subject to any statutory limitation on their ability to do so, Savills, Colliers International and Markham disclaim liability under any cause of action including negligence for any loss arising from reliance upon this document.</p>
         
        <p>This confidential document is for the sole use of persons directly provided with it by Savills, Colliers International or Markham and is not to be supplied to any other person without the prior written consent of Savills, Colliers International or Markham. Use by, or reliance upon this document by any other person is not authorised by Savills, Colliers International and Markham and without limitation to the above disclaimers, Savills, Colliers International and Markham are not liable for any loss arising from such unauthorised use or reliance.</p>
         
        <p>While Markham has taken reasonable care in providing the information, Markham or its directors, officers or employees do not provide any representation or warranty of any kind in relation to the accuracy, reliability or completeness of the information now or in the future. Markham accepts no responsibility for any errors or omissions from the information memorandum or for any action taken in relying on it.</p>
         
        <p>GST Disclaimer:</p>
        <p>Savills, Colliers International and Markham advise that the financial information provided in this report, relating to income, outgoings and the like is provided without reference to the possible impact of GST, if any. Purchasers should make their own assessment of the impact of GST on the investments and the returns derived there from after obtaining
        expert professional advice.</p>

        <p>The architectural renderings in this document are artist’s impressions only. View-lines are indicative only as at the date of publication. View-lines may also be impacted by current and future development applications. Intending purchasers should make their own enquiries.The architectural renderings in this document are artist’s impressions only. View-lines are indicative only as at the date of publication. View-lines may also be impacted by current and future development applications. Intending purchasers should make their own enquiries.</p>
      </div>
    </div>
  </div>
</div>