<div class="row">


	<div class="col-xs-12 col-md-4 col-md-offset-1">
		<h2 class="home__featured-heading">the <br>future</h2>
	</div>


	<div class="col-xs-12 col-md-6 col-md-offset-1">
		<div class="home__featured-content">
			<p>179 Hyde offers future conversion potential to take advantage of the property's prime position and unrivalled views over Hyde Park and Sydney harbour that will never be built out</p>

			<p>The opportunity remains to develop a world-class mixed use project of a quality unrivalled in Sydney’s CBD. Award winning architects SJB have prepared a comprehensive design package of two concepts being:</p>

			<p>
				<ul>
					<li>Hotel and luxury residential apartment conversion<sup>*</sup></li>
					<li>A mixed use development converting the upper levels to luxury residential apartments<sup>*</sup></li>
				</ul>
			</p>

			<p><span class="home__featured-content-info"><sup>*</sup>Subject to all relevant approvals</span></p>
		</div>

	</div>

</div>