<div class="home__slider">
	<div class="home__slider-item">
		<img src="src/images/Carousels/location/location-01.jpg" class="home__hero-img">
	</div>

	<div class="home__slider-item">
		<img src="src/images/Carousels/location/location-02.jpg" class="home__hero-img">
	</div>

	<div class="home__slider-item">
		<img src="src/images/Carousels/location/location-03.jpg" class="home__hero-img">
	</div>
</div>