<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
			<div class="home__status-title">
				<span class="h1-style counter">16,520</span><span class="h3-style">sqm</span>
			</div>

			<div class="home__status-info">
				<h4>of a-grade nla <br>(approx. 1,575 sqm floor plates)</h4>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style counter">1,814</span><span class="h3-style">sqm</span>
		</div>

		<div class="home__status-info">
			<h4>site area</h4>
		</div>
	</div>	
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style counter">116</span>
		</div>

		<div class="home__status-info">
			<h4>parking spaces <br>for vehicles</h4>
		</div>	
	</div>
	</div>
</div>



<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style"><sup class="home__status-sup">$</sup><span class="counter">14.1</span></span><span class="h3-style">m</span>
		</div>

		<div class="home__status-info">
			<h4>fully let net income <sup>*</sup></h4>
		</div>
	</div>
	</div>

	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">

		<div class="home__status-title">
			<span class="h1-style"><span class="counter">99</span>%<span class="h1-style">
		</div>

		<div class="home__status-info">
			<h4>occupancy</h4>
		</div>	
	</div>	
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style counter">3.9</span>
		</div>

		<div class="home__status-info">
			<h4>wale: by income <sup>*</sup></h4>
		</div>
	</div>	
	</div>
</div>



<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style counter">1992</span>
		</div>

		<div class="home__status-info">
			<h4>year of completion</h4>
		</div>
	</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style"><span class="counter">4</span> star</span>
		</div>

		<div class="home__status-info">
			<h4>nabers energy rating</h4>
		</div>	
	</div>
	</div>
	<div class="col-xs-12 col-md-4">
		<div class="home__status-item">
		<div class="home__status-title">
			<span class="h1-style">future</span>
		</div>

		<div class="home__status-info">
			<h4>redevelopment <br>opportunity</h4>
		</div>
	</div>
	</div>
</div>

<span class="home__status-copy"><sup>*</sup>Estimated and as at 30 June 2018</span>