<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-1"><h2>a world-class</h2></div>              
</div>
<div class="row home__cards-row">	
    <div class="col-md-1"></div>		
    <div class="col-xs-10 col-md-4">
    	<div class="home__container--mid">
    		<img src="src/images/building-1.jpg" class="home__container-img">	
    	</div>
    	<div class="home__container--bottom">
    		<h2>offering</h2>
    	</div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-6">
        	<div class="home__container-intro home__container-intro--bottomGap home__container-intro--topGap">
        		<p>Close to transport, bustling retail and an abundance of lifestyle options, 179 Hyde is a world-class offering in the heart of Sydney's CBD.</p>
        	</div>

        	<div class="home__container--top">
        		<h2>close to<br> transport</h2>
        	</div>
        	<div class="home__container--mid">
        		<img src="src/images/building-2.jpg" class="home__container-img">	
        	</div>
        	<div class="home__container--bottom">
        		<h2>& bustling<br> retail</h2>
        	</div>
    </div>
</div>

<div class="row home__cards-row">	
    <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-3 col-md-push-5">
    	<div class="home__container-intro">
    		<p>Sydney’s ﬁnest dining establishments are sprinkled throughout the surrounding streets, including an endless choice of options for all tastes. Many of the city’s renowned cultural institutions and attractions are all within walking distance, including art galleries, museums, the Sydney Opera House and the Harbour.</p>
    	</div>
    </div>
    <div class="col-md-1"></div>			
    <div class="col-xs-10 col-xs-offset-2 col-md-offset-0 col-md-4 col-md-pull-4">
    	<div class="home__container--mid">
            <div class="visible-md visible-lg ">
                <video loop="" class="home__cards-video-item">
                    <source src="src/images/video-01-480.mp4" type="video/mp4">
                    <img src="src/images/building-1.jpg" alt="">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="visible-xs visible-sm ">
                <img src="src/images/video-1.jpg" class="home__container-img">  
            </div>
    	</div>
    </div>
    <div class="col-md-3"></div>
</div>

<div class="row home__cards-row">			
    <div class="col-md-2"></div>		
    <div class="col-xs-12 col-md-8">
    	<div class="home__container--top">
    		<h2>beautiful <br>surrounds</h2>
    	</div>
    	<div class="home__container--mid">
    		<img src="src/images/building-4.jpg" class="home__container-img">	
    	</div>
    	<div class="home__container--bottom">
    		<h2>public <br>spaces</h2>
    	</div>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row home__cards-row">	
    <div class="col-md-1"></div>		
    <div class="col-xs-10 col-md-offset-0 col-md-4">
    	<div class="home__container-intro">
    		<p>At the doorstep of 179 Hyde is Hyde Park, one of Sydney CBD’s most beautiful public spaces. Occupiers of the property enjoy a rare front row seat immersed in the views over Hyde Park’s green canopy and ground plane.</p>
    	</div>
    	<div class="home__container--mid home__container--mobileBottom">
            <div class="visible-md visible-lg ">
        		<video loop="" class="home__cards-video-item">
                    <source src="src/images/video-02-480.mp4" type="video/mp4">
                    <img src="src/images/building-2.jpg" alt="video play">
                    Your browser does not support the video tag.
                </video>
            </div>

            <div class="visible-xs visible-sm ">
                <img src="src/images/video-2.jpg" class="home__container-img">  
            </div>
    	</div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-xs-10 col-xs-offset-2 col-md-offset-0 col-md-5">
    	<div class="home__container--mid">
    		<img src="src/images/building-5.jpg" class="home__container-img">	
    	</div>
    </div>
    <div class="col-md-1"></div>
</div>




