<div class="home__slider">
	<div class="home__slider-item">
		<img src="src/images/Carousels/future/future-03.jpg" class="home__hero-img">
	</div>
	
	<div class="home__slider-item">
		<img src="src/images/Carousels/future/future-02.jpg" class="home__hero-img">
	</div>

	<div class="home__slider-item">
		<img src="src/images/Carousels/future/future-04.jpg" class="home__hero-img">
	</div>
	
	<div class="home__slider-item">
		<img src="src/images/Carousels/future/future-01.jpg" class="home__hero-img">
	</div>
</div>