<div class="row home__highlights">
	<div class="col-xs-12 col-md-3">
		<h2 class="home__highlights-heading">investment hightlights</h2>
	</div>
	<div class="col-md-1">
	</div>	
	<div class="col-xs-12 col-md-8">

		
		<div class="home__highlights-content">
			<div class="panel-group home__highlights-panel-group" role="tablist" aria-multiselectable="true">
				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingOne">
				      <h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="panel-title-button">
				          <span> AUSTRALIA’S BEST PERFORMING CBD OFFICE MARKET</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				      <div class="panel-body">
				        Underpinned by a robust New South Wales economy, demand for Sydney CBD office space has reached unprecedented levels due to a tight vacancy rate, stock withdrawals for residential conversion and a lack of new supply.
				      </div>
				    </div>
				  </div>
				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingTwo">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="panel-title-button collapsed">
				          <span>REVERSIONARY UPLIFT</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				      <div class="panel-body">
				        The key drivers of Sydney’s forecast rental growth include constrained office supply and stock withdrawals for infrastructure, residential and hotel conversion. 179 Hyde offers an
opportunity to take advantage of the current favourable leasing conditions.
				      </div>
				    </div>
				  </div>
				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingThree">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="panel-title-button collapsed">
				          <span>OUTSTANDING INVESTMENT OPPORTUNITY</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				      <div class="panel-body">
				        The asset offers a multi-tenanted, modern A-grade office building, underpinned by a strong income stream with a WALE of 3.9 years and is 99% occupied. Additionally, the property includes parking for 116 car spaces which is one of the highest car parking ratios in the CBD (being 1:142sqm).
				      </div>
				    </div>
				  </div>


				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingFour">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="panel-title-button collapsed">
				          <span>PRESTIGIOUS LOCATION</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				      <div class="panel-body">
				        Situated within the prestigious Hyde Park precinct, the property benefits from the surrounding connectivity to business hubs, culture, retail and transport options, including the new Pitt Street Metro Station and light rail. The proximity to the NSW courts and breathtaking views over Hyde Park and Sydney Harbour is an ideal choice for any occupier. This is further evidenced by the high level of tenant retention within the building.
				      </div>
				    </div>
				  </div>


				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingFive">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="panel-title-button collapsed">
				          <span>FUTURE DEVELOPMENT POTENTIAL</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
				      <div class="panel-body">
				        
 Subject to relevant approvals, 179 Hyde presents a rare opportunity for a mixed use redevelopment in one of Sydney’s most desirable locations. Given its position, outlook and surrounding amenity, 179 Hyde is ideally suited for future redevelopment.
				      </div>
				    </div>
				  </div>


				  <div class="panel">
				    <div class="panel-heading" role="tab" id="headingSix">
				      <h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="panel-title-button collapsed">
				          <span>COMPELLING VALUE ON A GLOBAL SCALE</span>
				          <span class="panel-title-button-icon-wrapper">
				          	<span class="panel-title-button-icon panel-title-button-icon--plus"></span>
				          	<span class="panel-title-button-icon panel-title-button-icon--minus"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
				      <div class="panel-body">
				         In comparison to other global gateway cities, prime property yields achieved in Sydney remain attractive with around a 2.00% to 2.25% spread against major markets such as Hong Kong, Singapore, London, New York and Tokyo (source: Savills Research).
				      </div>
				    </div>
				  </div>
				</div>
		</div>
	</div>
</div>


