<div class="home__contact">
	<h2 class="home__contact-heading">contact <br>agents</h2>
	<p class="home__contact-intro">Inspections must be arranged via appointment<br>
		with the exclusive agents.
	</p>

	<div class="home__contact-list">
		<div class="home__contact-item">
			<div class="home__contact-logo">
				<img src="src/images/savills-logo.png" alt="logo">
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">Ian Hetherington</div>
				<a href="callto:+61408679598" class="home__contact-card-item home__contact-card-item--link">+61 408 679 598</a>
				<a href="mailto:ihetherington@savills.com.au?subject=179 Hyde enquiry" class="home__contact-card-item  home__contact-card-item--link">ihetherington@savills.com.au</a>
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">Simon Fenn</div>
				<a href="callto:+61438573431" class="home__contact-card-item home__contact-card-item--link">+61 438 573 431</a>
				<a href="mailto:sfenn@savills.com.au?subject=179 Hyde enquiry" class="home__contact-card-item  home__contact-card-item--link">sfenn@savills.com.au</a>
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">Ben Azar</div>
				<a href="callto:+61416282292" class="home__contact-card-item home__contact-card-item--link">+61 416 282 292</a>
				<a href="mailto:bazar@savills.com.au?subject=179 Hyde enquiry" class="home__contact-card-item  home__contact-card-item--link">bazar@savills.com.au</a>
			</div>
		</div>


		<div class="home__contact-item">
			<div class="home__contact-logo">
				<img src="src/images/colliers-logo.png" alt="logo">
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">James Barber </div>
				<a href="callto:+61419429757" class="home__contact-card-item home__contact-card-item--link">+61 419 429 757</a>
				<a href="mailto:James.barber@colliers.com" class="home__contact-card-item  home__contact-card-item--link">James.barber@colliers.com</a>
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">Adam Woodward</div>
				<a href="callto:+61414568276" class="home__contact-card-item home__contact-card-item--link">+61 414 568 276</a>
				<a href="mailto:adam.woodward@colliers.com" class="home__contact-card-item  home__contact-card-item--link">adam.woodward@colliers.com</a>
			</div>

			<div class="home__contact-card">
				<div class="home__contact-card-item">Vince Kernahan</div>
				<a href="callto:+61438262497" class="home__contact-card-item home__contact-card-item--link">+61 438 262 497</a>
				<a href="mailto:vince.kernahan@colliers.com" class="home__contact-card-item  home__contact-card-item--link">vince.kernahan@colliers.com</a>
			</div>
		</div>
		
	</div>

	<div class="home__contact-footer">
		<div class="home__contact-footer-section">
			<div class="home__contact-card-item"><P>Proudly owned and managed by Markham</P></div>
			<a href="http://markham.com.au" target="_blank" class="home__contact-card-item home__contact-card-item--link">markham.com.au</a>
		</div>

		<h3 class="home__contact-footer-heading">Markham</h3>

		<div class="home__contact-footer-disclamer">
			<a href="#" class="home__contact-footer-disclamer-link" data-toggle="modal" data-target="#myModal">Disclaimer</a>
		</div>
	</div>


</div>


